.thumbnail {
	border: none;
	background-color: transparent;
	margin-bottom: 0;
	max-width: 110px;
}
.thumbnail-active {
	background-color: #4edfff;
}
.thumbnails-container {
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 0;
}
.thumbnails-container li {
	margin: 3px;
}